#root {
  /* max-width: 1280px; */
  overflow: hidden;
  margin: 0;
  text-align: center;
}

.hero-img {
  width: 15rem;
  color: white !important;
}

.spacing {
  letter-spacing: 0.5rem;
}

.bottom-nav a:not(:last-child) {
  border-right: 1px solid white;
}

.about-img {
  background-position: 75%;
}
